body{
    display: flex;
    text-align: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 800px;
    height: 800px;
}

.tile {
    background-color: black;
    height: 100%;
    width: 100%;
}

#custom {
    align-content: right;
}